* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  

.toggleBar{
  display: none;
  z-index: 100;
  padding: 0.7rem 1rem;
}

.navBar {
  background: rgba(25, 29, 41, 0.95);
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
}

.navLinkBox {
  display: flex;
  flex-direction: "row";
  align-items: center;
  color: #fed900;
}

.navLinkBox a {
  display: flex;
  margin: 10px;
  cursor: pointer;
}


.navlinks a{
 margin: 0px 2rem;
}
.hide{
  height: auto;
}
.link {
  text-decoration: none;
  color: #fec200;
  display: block;
  margin: 40px;
}
.link:hover{
  color: #fdb000;
  text-shadow: 0px 0px 10px #f7bf08;
}




.container{
  background: rgba(25, 29, 41, 0.95);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 4rem;
  overflow: hidden;
  padding: 0px 5% 100px 5%;
  min-height: calc(100vh - 4rem);
}


.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('./assests/Images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.bonkBtn {
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding: 7px 24px;
  border-radius: 10px;
  cursor: pointer;
  border: 0.5px solid #fed900;
  margin: auto;
}

.bonkBtn[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.bonkAmount {
  font-weight: 800;
  font-size: 32px;
  color: #fec200;
}

.bonkLimit {
  font-size: 20px;
  color: #fec200;
  font-weight: 800;
}

.bonkInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  margin: 20px 0px;
  justify-content: center;

}

.input {
  height: 2.5rem;
  width: 4rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  color: #ffffff;
  border: 0.5px solid #fed900;
  text-align: center;
  z-index: 200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bonkBox {
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.batImage {
  height: 300px;
  position: absolute;
  left: -90px;
}

.meetBonk {
  position: absolute;
  bottom: 0;
  right: 0;
}

.meetBonkImage {
  height: 250px;
  width: 220px;
}

.dogImgContainer {
  display: flex;
  width: 70%;
}

.dogImgs {
  min-width: 100%;
  max-width: 100%;
  min-height: auto;
  max-height: auto;
  object-fit: contain;
}

.nftbtn {
  color: #14d9e5;
  padding: 5px 16px;
  border: 1px solid #14d9e5;
  background: none;
  border-radius: 15px;
  text-transform: uppercase;
  display: flex;
  margin: auto 30px;
  cursor: pointer;
  z-index: 200;
}

.bonkTitleContainer {
  display: flex;
  width: 100%;
  background-image: url("./assests/Images/GETSETBONK.png");
  align-items: center;
  justify-content: center;
  background-size: 60% 50%;
  background-repeat: no-repeat;
  background-position: 40% 8% ;
  padding-top: 1.4rem;
}
.title {
  /* width: 90%; */
  padding-top: 30px;
  padding-bottom: 25px;
}




.bonkLogo {
  height: 100px;
  width: 100px;
  margin: 40px;
}
.title p {
 
  font-weight: 800;
  display: flex;
  justify-content: end;
  text-align: right;
}
.burnText {
  font-size: 4.5rem;
  color: #fffff3;
 margin-right: 70px;
 line-height: 4.6rem;
}
.emText {
  color: #fdb000;
  text-shadow: 0px 0px 40px rgba(255, 219, 17, 0.9);
  font-size: 5rem;
  line-height: 3rem;
}
.aboutBonk {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 85%;
  justify-content: center;
  align-items: center;
}
.loading {
  margin-top: 10%;
}

.infoText {
  color: #14d9e5;
  width: 70%;
  margin: 10px 0px;
  line-height: 1.1rem;
}

.walletBtn{
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  ) !important;
  height: 2rem !important;
  padding: 15px !important;
  border: 1px solid #fed900;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.leaderBoard{
  width: 35%;
  margin: auto;
  background: linear-gradient(111.03deg, rgba(239, 238, 238, 0.32) 2.82%, rgba(239, 238, 238, 0.06) 90.94%),rgba(25, 29, 41, 0.95);;
  backdrop-filter: blur(80px);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:40px;
  height: calc(100vh - 50px);
  z-index: 50000;
  color: #ffffff;
  overflow:auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  border-radius: 16px;
}
.leaderBoard::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.leaderBoard:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.07;
  background-image: url('./assests/Images/leaderboard.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.userRank{
  display: flex;
  align-items: center;
  gap: 2rem;
  background:linear-gradient(111.03deg, rgba(239, 238, 238, 0.32) 2.82%, rgba(239, 238, 238, 0.06) 90.94%);
  backdrop-filter: blur(2px);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 50001;
}
.userContainer{
  margin: 1rem 0px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  
}
.user{
  width: 90%;
    display: flex;
  gap: 1.5rem;
  align-items: center;
   gap: 2rem;
   z-index: 200;
   justify-content: space-around;
}
.copyBtn{
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  display:block;
  height:100%;
  font-weight:700;
  letter-spacing: 0.8px;
}
.note{
  font-size: 0.7rem;
  color: rgb(42, 247, 247);
  position: absolute;
  bottom: 10px;
  width: 90%;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 1px;
}
.noteWallet{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.5rem;
  margin: 4px 0px;
  font-weight: 800;
  letter-spacing: 1px;
}

.select{
  display: flex;
  flex-direction: column;
  position: relative;
}
.select-input-box{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 5px 10px;
  width: 5rem;
  height: 2.5rem;
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  color: #ffffff;
  border: 0.5px solid #fed900;
  border-radius: 5px;
}
.select-options{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  position: absolute;
  top:3rem;
  background-color: #fec200;
  padding: 0.5rem;
  border-radius: 5px;
}
.options-hide{
  display: none;
}
.option{
   display: flex;
   align-items: center;
   gap: 0.8rem;
  
}
.burn-nft{
  margin-top: 4rem;
 
}


.nfts-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
  align-items: baseline;
  justify-content: center;
}
.nft-container
{
  width: 220px;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  border-radius: 12px;
  position: relative;
  box-shadow: 2px 5px 10px #fec200;
  color: white;
}

.nft-img{
  object-fit: cover;
  width:220px;
  height:300px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.discription{
    padding: 10px;
}

.nft-burn-btn{
   position: absolute;
   top: 5px;
   right: 5px;
   background-color: rgb(85, 140, 3);
   padding: 5px;
   border-radius: 5px;
   color: white;
}
.dialect{
  z-index: 10000000;
}
.light{
  z-index: 200;
}


@media screen and (max-width:1050px){
 
 .emText{
   font-size: 3.5rem;
   line-height: 2.9rem;
 }
 .burnText{
   font-size: 3.2rem;
   line-height: 2.7rem;
 }
 .title{
  padding-top: 20px;
 }
 .bonkTitleContainer{
  padding-top: 0.4rem;
 }
 .leaderBoard{
  width: 60%;
  top:65px;
  height: calc(100vh - 85px);
 }
}

@media only screen and (max-width: 800px) {
  .dogImgContainer{
    width: 90%;
  }
  .bonkLogo{
    margin: 20px;
  }
  .title {
    width: 100%;
  }
  .emText{
    font-size: 2.7rem;
    line-height: 2.7rem;
  }
  .burnText{
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .aboutBonk {
    width: 100%;
  }
  .bonkAmount {
    font-size: 24px;
  }
  .input {
    height: 2rem;
    width: 2.5rem;
  }
  .batImage {
    height: 250px;
    left: -25px;
  }
  .meetBonkImage {
    height: 180px;
    width: 150px;
  }
  .bonkBtn {
    font-size: 20px;
  }
  .aboutBonk {
    width: 100%;
  }
  .infoText {
    width: 80%;
  }
  .title{
    padding-top: 10px;
    padding-bottom: 30px;
  }
  .bonkTitleContainer{
    width: 100%;
    padding-top: 0.4rem;
  }
  .leaderBoard{
    width: 80%;
   }
}
@media screen and (max-width:660px) {
  .toggleBar{
    display: flex;
    justify-content: end;
    align-items: center;
    }
    .nav , .navLinkBox{
      flex-direction: column;
    }
    .navLinkBox a{
      margin: 6px;
    }
.nav{
  position: fixed;
  top: 3.5rem;
  background: rgba(25, 29, 41, 0.95);
  width: 100%;
  height: 30vh;
  left: -100%;
  transition: 1s ease-in-out;
}
.nav.hide{
  left: 0%;

}
.container{
  margin-top: 3.5rem;
}
.walletBtn{
  margin: 8px 0px;
}
}




@media only screen and (max-width: 550px) {
.bonkAmount,.bonkLimit{
  text-align: center;
}
  .dogImgContainer{
    width: 100%;
  }
  .meetBonk {
    display: none;
  }
  .title{
    padding-top: 10px;
  }
 
  .emText{
    font-size: 1.6rem;
    line-height: 1.5rem;
  }
  .burnText{
    font-size: 1.3rem;
    line-height: 1.3rem;
    margin-right: 1rem;
  }
  .bonkLogo {
    height: 70px;
    width: 70px;
    margin: 1rem;
  }
  .infoText {
    width: 100%;
  }
  .bonkAmount {
    font-size: 1.2rem;
  }
  .bonkLimit {
    font-size: 1rem;
  }
  .batImage {
    height: 160px;
    width: 180px;
    left: 90px;
    top: -80px;
  }
  
  .title{
    padding-top: 10px;
    background: none;
    padding-right: 0;
  }
  .bonkTitleContainer{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0.2rem;
  }
  
  .loading {
    margin-top: 50%;
  }
  .leaderBoard{
    max-width: 95%;
    top:65px;
    height: calc(100vh - 85px);
  }
  .userRank{
    gap: 1rem;
  }
  .user{
    gap: 0.8rem;
  }
  .noteWallet{
    gap: 2px;
  }
}
