* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}  

.toggleBar{
  display: none;
  z-index: 100;
  padding: 0.7rem 1rem;
}

.navBar {
  background: rgba(25, 29, 41, 0.95);
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 4rem;
}

.navLinkBox {
  display: flex;
  flex-direction: "row";
  align-items: center;
  color: #fed900;
}

.navLinkBox a {
  display: flex;
  margin: 10px;
  cursor: pointer;
}


.navlinks a{
 margin: 0px 2rem;
}
.hide{
  height: auto;
}
.link {
  text-decoration: none;
  color: #fec200;
  display: block;
  margin: 40px;
}
.link:hover{
  color: #fdb000;
  text-shadow: 0px 0px 10px #f7bf08;
}




.home {
  /* background: radial-gradient(35.56% 83.6% at 50% 50%, rgba(217, 217, 217, 0) 0%, rgba(25, 29, 41, 0.9) 100%),rgba(0, 0, 0, 0); */
  background: rgba(25, 29, 41, 0.95);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 4rem;
  overflow: hidden;
  padding: 0px 5% 100px 5%;
  min-height: calc(100vh - 4rem);
}

.home:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('./assests/Images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bonkBtn {
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding: 7px 24px;
  border-radius: 10px;
  cursor: pointer;
  border: 0.5px solid #fed900;
  margin: auto;
}

.bonkBtn[disabled] {
  cursor: not-allowed;
  opacity: 0.4;
}

.bonkAmount {
  font-weight: 800;
  font-size: 32px;
  color: #fec200;
}

.bonkLimit {
  font-size: 20px;
  color: #fec200;
  font-weight: 800;
}

.bonkInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 26px;
  margin: 20px 0px;
}

.input {
  height: 2.5rem;
  width: 4rem;
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  );
  color: #ffffff;
  border: 0.5px solid #fed900;
  text-align: center;
  z-index: 200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bonkBox {
  position: relative;
  width: 500px;
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.batImage {
  height: 300px;
  position: absolute;
  left: -90px;
}

.meetBonk {
  position: absolute;
  bottom: 0;
  right: 0;
}

.meetBonkImage {
  height: 250px;
  width: 220px;
}

.dogImgContainer {
  display: flex;
  width: 70%;
}

.dogImgs {
  min-width: 100%;
  max-width: 100%;
  min-height: auto;
  max-height: auto;
  object-fit: contain;
}

.nftbtn {
  color: #14d9e5;
  padding: 5px 16px;
  border: 1px solid #14d9e5;
  margin: auto;
  background-color: "transparent";
  border-radius: 15px;
  background: rgba(25, 29, 41, 0.7);
  text-transform: uppercase;
  display: flex;
  margin: auto 30px;
  cursor: pointer;
}

.bonkTitleContainer {
  display: flex;
  width: 80%;
  background-image: url("./assests/Images/GETSETBONK.png");
  align-items: center;
  justify-content: center;
  background-size: 55% 57%;
  background-repeat: no-repeat;
  background-position: 65% 12% ;
}
.title {
  width: 90%;
  padding-top: 30px;
  padding-bottom: 25px;
}




.bonkLogo {
  height: 100px;
  width: 100px;
  margin: 40px;
}
.title p {
  font-size: 3.5rem;
  font-weight: 1000;
  display: flex;
  justify-content: end;
  line-height: 3.3rem;
  text-align: right;
}
.burnText {
  color: #ffffff;
 margin-right: 70px;
 
}
.emText {
  color: #fdb000;
  text-shadow: 0px 0px 40px rgba(255, 219, 17, 0.9);
}
.aboutBonk {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 85%;
  justify-content: center;
}
.loading {
  margin-top: 10%;
}

.infoText {
  color: #14d9e5;
  width: 55%;
  margin-top: 0.8rem;
}

.walletBtn{
  background: radial-gradient(
    90.16% 143.01% at 15.32% 21.04%,
    rgba(165, 239, 255, 0.2) 0%,
    rgba(110, 191, 244, 0.0447917) 77.08%,
    rgba(70, 144, 213, 0) 100%
  ) !important;
  height: 2rem !important;
  padding: 15px !important;
  border: 1px solid #fed900;
  border-radius: 20px;
}




@media screen and (max-width:1050px){
 .title p{
  font-size: 2.7rem;
  line-height: 2.7rem;
 }
 .title{
  padding-top: 20px;
 }
 .bonkTitleContainer{
  background-size: 45% 55%;
  width: 100%;
 }
}

@media only screen and (max-width: 800px) {
  .dogImgContainer{
    width: 90%;
  }
  
  .title {
    width: 100%;
  }
  .title p {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .aboutBonk {
    width: 100%;
  }
  .bonkAmount {
    font-size: 24px;
  }
  .input {
    height: 2rem;
    width: 2.5rem;
  }
  .batImage {
    height: 250px;
    left: -25px;
  }
  .meetBonkImage {
    height: 180px;
    width: 150px;
  }
  .bonkBtn {
    font-size: 20px;
  }
  .aboutBonk {
    width: 100%;
  }
  .infoText {
    width: 80%;
  }
  .title{
    padding-top: 10px;
    width: 90%;
    background-size: 150px 80px;
    background-position: 99% 70%;
    padding-bottom: 30px;
  }
  .bonkTitleContainer{
    width: 100%;
    background-size: 50% 40%;
    background-position: 50% 20%;
  }
}
@media only screen and (max-width: 550px) {
  .toggleBar{
    display: flex;
    justify-content: end;
    align-items: center;
    }
    .nav , .navLinkBox{
      flex-direction: column;
    }
    .navLinkBox a{
      margin: 6px;
    }
.nav{
  position: fixed;
  top: 3.5rem;
  background: rgba(25, 29, 41, 0.95);
  width: 100%;
  height: 25vh;
  left: -100%;
  transition: 1s ease-in-out;
}
.nav.hide{
  left: 0%;

}

  .dogImgContainer{
    width: 100%;
  }
  .meetBonk {
    display: none;
  }
  .title{
    padding-top: 10px;
  }
  .title p {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .burnText {
    margin-right: 1rem;
  }
  .bonkLogo {
    height: 70px;
    width: 70px;
    margin: 20px;
  }
  .infoText {
    width: 100%;
  }
  .bonkAmount {
    font-size: 1.2rem;
  }
  .bonkLimit {
    font-size: 1rem;
  }
  .batImage {
    height: 160px;
    width: 180px;
    left: 90px;
    top: -80px;
  }
  
  .home{
    margin-top: 3.5rem;
  }
  .walletBtn{
    margin: 10px 0px;
  }
  .title{
    padding-top: 10px;
    background: none;
    padding-right: 0;
  }
  .bonkTitleContainer{
    width: 100%;
    background-size: 55% 40%;
    background-position: 40% 20%;
    padding-right: 0;
  }
  
  .loading {
    margin-top: 50%;
  }
}
